body {
    background-image:url("../assets/Backgrounds/clean_textile/clean_textile/clean_textile.png");
}
#crest {
    width:120px;
    align-content: center;
}
.navbar {
    margin-top:3px;
    margin-bottom:3px;
    background-image:url("../assets/Backgrounds/clean_textile/clean_textile/clean_textile.png");
}
.nav-link {
    font-family:calibri;
    font-size:14pt; 
}
.nav-link.active {
    background-color:gray;
    border:1px solid darkgrey;
}
.jumbotron {
    background-color:darkblue;
    border:2px solid grey;
    color:white;
    width:100%;
    padding:30px;
    height:85%;
}
.container {
    margin-bottom:100px;
}
.card {
    /* background-color:grey; */
    height:320px;
}
li {
    font-size:16px;
}
#scheduleContainer {
    border:2px double red;
    padding:80px;
    margin-bottom: 140px;
}
#gameRecaps {
    border:1px double white;
    padding:50px;
}
#teamIcons {
    text-align: center;
    padding-bottom: 10px;
}
#footer2 {
    background-color:#666666 ;
    color:#dddddd;
    width: 100%;
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    text-align:center;
    clear:both;
    margin:auto;
    border-top:solid;
    border-color:#4aaaa5;
    border-width:8px;
}