body {
    background-image:url("../assets/Backgrounds/clean_textile/clean_textile/clean_textile.png");
}
#crest {
    width:120px;
    align-content: center;
}
.navbar {
    margin-top:3px;
    margin-bottom:3px;
    background-image:url("../assets/Backgrounds/clean_textile/clean_textile/clean_textile.png");
}
.nav-link {
    font-family:calibri;
    font-size:14pt; 
}
.nav-link.active {
    background-color:gray;
    border:1px solid darkgrey;
}
.jumbotron {
    background-color:darkblue;
    border:2px solid grey;
    color:white;
    width:100%;
    padding:30px;
    height:85%;
}
.container {
    margin-bottom:100px;
}
.table {
    text-align: center;
}
.card {
    height:320px;
}
.card-title:hover {
    text-shadow: 1px 1px 3px black;
}
li {
    font-size:16px;
}
.wk2 {
    margin-bottom: 10px;
}
#scheduleContainer {
    border:2px double red;
    padding:50px;
    margin-bottom: 140px;
}
#gameRecaps {
    border:1px double white;
    padding: 10px;
}
#countdown {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    text-align: center;
    font-size:16pt;
}
#countdownClock {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20pt;
    text-align:center;
    border:2px dotted red;
    padding:10px;
    width:65%;
}
#teamIcons {
    text-align: center;
    padding-bottom: 10px;
}
#footer2 {
    background-color:#666666 ;
    color:#dddddd;
    width: 100%;
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    text-align:center;
    clear:both;
    margin:auto;
    border-top:solid;
    border-color:#4aaaa5;
    border-width:8px;
}
#recap1 {
    font-family: 'Calibri';
    font-size: 13pt;
    line-height: 28px;
}

/* Bootstrap 4 breakpoints */

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
    .card-deck {font-size:65%;} /*1rem = 16px*/
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .card-deck {font-size:70%;} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .card-deck {font-size:80%;} /*1rem = 16px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .card-deck {font-size:100%;} /*1rem = 16px*/    
}
